In [2]:
math = 80
eng = 100
if math>=90 and eng >=90 :
    print("용돈 인상")
elif math<=80 and eng <= 80:
    print("용돈 삭감")
else:
    print("동결")

동결

In [6]:
score = [80,90,70,65,85,95,90,80,75,80]
new = []
for i in score:
    i = i+5
    new.append(i)
print(new)

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [7]:
score = [80,90,70,65,95,100,90,80,75]
new = []

for i in score:
    i = i+5
    if i>=100 :
        i = 100
    new.append(i)
print(new)

[85, 95, 75, 70, 100, 100, 95, 85, 80]

In [9]:
new2 = [i+5 if i<100 else i for i in score]
new2

[85, 95, 75, 70, 100, 100, 95, 85, 80]

In [11]:
score = [80,90,70,65,95,100,90,80,75,80]
new_score = []
index = 0

while(index < len(score)):
    if score[index] < 100 :
        new = score[index] + 5
    else:
        new = score[index]
    new_score.append(new)
    index = index + 1

print(new_score)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

In [12]:
# 사용허용 시간 300분. 사용자는 사용시 50분씩 사용. 지정 시간 도달시 사용 중단

time = 0

while(True):
    print('현재 사용량: {}'.format(time))
    if(time >= 300):
        print('over')
        break
    else:
        time = time + 50

현재 사용량: 0
현재 사용량: 50
현재 사용량: 100
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
over

In [13]:
# 현재 사용량 150분 미만일경우 '안전하다' 메시지 띄우기

time = 0

while (True):
    print('현재 사용량: {}'.format(time))
    if(time < 150):
        print('safety')
    if(time >= 300):
        print('over')
        break
    else:
        time = time + 50

현재 사용량: 0
safety
현재 사용량: 50
safety
현재 사용량: 100
safety
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
over

In [14]:
#쇼핑몰 신규 주문 목록 생성

shopping_dict = {'주문번호': 123, '주문자':'홍길동', '주소':'서울 마포구 상암동', '주문항목':['맛좋은 김치', '맛좋은 라면', '시원한 물']}

for item in shopping_dict:
    print(item)

주문번호
주문자
주소
주문항목

In [15]:
for item in shopping_dict.items():
    print(item)

('주문번호', 123)
('주문자', '홍길동')
('주소', '서울 마포구 상암동')
('주문항목', ['맛좋은 김치', '맛좋은 라면', '시원한 물'])

In [16]:
for key, value in shopping_dict.items():
    print(key)
    print(value)
    print('-----')

주문번호
123
-----
주문자
홍길동
-----
주소
서울 마포구 상암동
-----
주문항목
['맛좋은 김치', '맛좋은 라면', '시원한 물']
-----

In [19]:
menu = {"고구마":200, "떡볶이":600, "라면":800}

for i, j in menu.items():
    if j > 500 :
        print('{} 먹지마'.format(i))
    else:
        print('{} good'.format(i))

고구마 good
떡볶이 먹지마
라면 먹지마

In [20]:
#산토끼 '토' 빈도

lyric = """산토끼 토끼야. 어디를 가느냐. 깡총깡총 뛰면서 어디를 가느냐.
산 고개 고개를. 나 혼자 넘어서. 토실토실 알밤을. 주워올테야"""

count = 0

for l in lyric:
    if (l == '토'):
        count += 1
print(count)

4

In [21]:
type(lyric)

str

In [34]:
for day in range(20):
        print('{}일 - {}쪽'.format(day+1, (day+1)*5))

1일 - 5쪽
2일 - 10쪽
3일 - 15쪽
4일 - 20쪽
5일 - 25쪽
6일 - 30쪽
7일 - 35쪽
8일 - 40쪽
9일 - 45쪽
10일 - 50쪽
11일 - 55쪽
12일 - 60쪽
13일 - 65쪽
14일 - 70쪽
15일 - 75쪽
16일 - 80쪽
17일 - 85쪽
18일 - 90쪽
19일 - 95쪽
20일 - 100쪽

In [41]:
mark = 0

for day in range(20):
    print('[{}일차 공부 계획]'.format(day+1))
    print('{}쪽까지'.format((day+1)*5))
    print('')

[1일차 공부 계획]
5쪽까지

[2일차 공부 계획]
10쪽까지

[3일차 공부 계획]
15쪽까지

[4일차 공부 계획]
20쪽까지

[5일차 공부 계획]
25쪽까지

[6일차 공부 계획]
30쪽까지

[7일차 공부 계획]
35쪽까지

[8일차 공부 계획]
40쪽까지

[9일차 공부 계획]
45쪽까지

[10일차 공부 계획]
50쪽까지

[11일차 공부 계획]
55쪽까지

[12일차 공부 계획]
60쪽까지

[13일차 공부 계획]
65쪽까지

[14일차 공부 계획]
70쪽까지

[15일차 공부 계획]
75쪽까지

[16일차 공부 계획]
80쪽까지

[17일차 공부 계획]
85쪽까지

[18일차 공부 계획]
90쪽까지

[19일차 공부 계획]
95쪽까지

[20일차 공부 계획]
100쪽까지

In [43]:
a = input(print('이름을 입력하세요: '))
print(a)

이름을 입력하세요:

None hee

hee

In [44]:
name = input('이름을 입력하세요: ')
print(name)

이름을 입력하세요:  hee

hee

In [52]:
height = float(input('키: '))
weight = (height - 100) * 0.9
print(weight)

키:  160

54.0

In [53]:
print("apple", "peach", "mango")

apple peach mango

In [54]:
print("apple", "peach", "mango", sep = ',')

apple,peach,mango

In [60]:
print("rmsid whssk vusgkrp", end = "")
print("tksmsrjteh skQmwl dksgekrh")

rmsid whssk vusgkrptksmsrjteh skQmwl dksgekrh

In [58]:
print("{:.2f}%".format(95.123456879))

95.12%

In [69]:
f = open("abc.txt", "w")
f.write("A B C D E F G")
f.close()

In [70]:
f = open("abc.txt", "r")
print(f.read())
f.close()

A B C D E F G

In [71]:
f = open("abc.txt", "a")
f.write("H I J K L M N O P")
f.close()

In [72]:
f = open("abc.txt", "r")
print(f.read())
f.close()

A B C D E F GH I J K L M N O P

In [79]:
with open("일기.txt", "w") as f :
    f.write("2021. 9. 7\n")
    
with open("일기.txt", "a") as f :
    f.write("날씨: 맑음\n")
    f.write("인생ㅎ..")
    
with open("일기.txt", "r") as f :
    print(f.read())

2021. 9. 7
날씨: 맑음
인생ㅎ..

In [81]:
#온도에 따른 커피 주문

def coffee(c):
    if c > 0:
        print('아이스 아메리카노')
    else:
        print('따뜻한 아메리카노')
        
coffee(30)

아이스 아메리카노

In [82]:
def coffee(c):
    result = ''
    if c > 0:
        result = '아이스 아메리카노'
    else :
        result = '따뜻한 아메리카노'
    return result

In [84]:
coffee(-5)

'따뜻한 아메리카노'

In [87]:
score = [80,90,70,65,85,95,90,80,75,80]
new_score = []

def edit_scr(score):
    for i in score:
        i += 5
        new_score.append(i)
    return new_score

edit_scr(score)

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [93]:
#노래가사

lyric = """산토끼 토끼야 어디를 가느냐 깡총깡총 뛰면서 어디를 가느냐
산 고개 고개를 나 혼자 넘어서 토실토실 알밤을 주워 올 테야"""

def count_word(lyric, w):
    count = 0
    for l in lyric:
        if (l==w):
            count += 1
    return count

count_word(lyric, '토')

4

In [94]:
#영어 단어 대문자와 소문자로 출력하기

def change_eng(word):
    up = word.upper()
    down = word.lower()
    return up, down

In [95]:
change_eng("I like Seoul")

('I LIKE SEOUL', 'i like seoul')

In [97]:
#두 수와 연산자를 입력받아 사칙연산 결과 출력

def cal(num1, num2, operator):
    num3=0
    if (operator == '+'):
        num3 = num1 + num2
        print(num3)
    elif (operator == '-' ):
        num3 = num1 - num2
        print(num3)
    elif (operator == '*'):
        num3 = num1 * num2
        print(num3)

In [2]:
text = "나는 자랑스러운 태극기 앞에 자유롭고 정의로운 대한민국의 무궁한 영광을 위하여 충성을 다할 것을 굳게 다짐합니다."
text.split(" ")

['나는',
 '자랑스러운',
 '태극기',
 '앞에',
 '자유롭고',
 '정의로운',
 '대한민국의',
 '무궁한',
 '영광을',
 '위하여',
 '충성을',
 '다할',
 '것을',
 '굳게',
 '다짐합니다.']

In [3]:
text = "+82-10-1234-5678"
text.split("-")

['+82', '10', '1234', '5678']

In [8]:
text.split("-", 2)

['+82', '10', '1234-5678']

In [9]:
text = "안녕 친구들 안녕 친구들"
text.strip("안녕")

' 친구들 안녕 친구들'

In [11]:
order = "아이스 아메리카노, 뜨거운 아메리카노,플레인 요거트, 녹차, 얼그레이, 타이거 슈가"
order.find("아메리카노")

13

In [14]:
s = '가나다라 마바사아 자차카타 파하'
s.startswith('가')
# s.startswith('마')
# s.startswith('마',s.find('마')) #find는 '마' 의 시작지점을 알려줌 : 5
# s.startswith('마',1)

True

In [16]:
animals = ['강아지', '송아지', '돼지']

for i in animals:
    print(i.startswith('강'))

True
False
False

In [17]:
for i in animals:
    print(i.endswith('지'))

True
True
True

In [19]:
import numpy as np

list1 = [1,2,3]
arr1 = np.array(list1)
arr1

array([1, 2, 3])

In [23]:
np.random.rand(5,3)

array([[0.74850863, 0.61926722, 0.93368238],
       [0.22454299, 0.71165854, 0.45804436],
       [0.18997694, 0.29429583, 0.55091182],
       [0.72191476, 0.78627411, 0.70620425],
       [0.48495025, 0.90467533, 0.27550291]])

In [24]:
arr2 = np.arange(16)
arr2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [25]:
arr2.reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [26]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [27]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [30]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
np.arange(20,40,2)

array([20, 22, 24, 26, 28, 30, 32, 34, 36, 38])

In [34]:
a=np.random.rand(4)

In [36]:
a

array([0.52044082, 0.49271869, 0.18701176, 0.91722441])

In [2]:
import numpy as np

scores = [80,90,70,65,85,95,90,80,75,80]
score_arr = np.array(scores)
score_arr

array([80, 90, 70, 65, 85, 95, 90, 80, 75, 80])

In [3]:
score_arr >= 90

array([False,  True, False, False, False,  True,  True, False, False,
       False])

In [4]:
score_arr[score_arr >= 90]

array([90, 95, 90])

In [6]:
score_arr[score_arr >= 90] =999
score_arr

array([ 80, 999,  70,  65,  85, 999, 999,  80,  75,  80])

In [8]:
arr = np.arange(1, 5)

In [9]:
np.square(arr)

array([ 1,  4,  9, 16], dtype=int32)

In [10]:
np.sqrt(arr)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [11]:
np.exp(arr)

array([ 2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [12]:
np.log(arr)

array([0.        , 0.69314718, 1.09861229, 1.38629436])

In [14]:
arr3d = np.arange(27).reshape(3,3,3)
arr3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [18]:
import pandas as pd

data = {'학번' : range(20190760, 20190770), 
        '성적' : [85,95,75,70,100,100,95,85,80,85]}
df = pd.DataFrame(data)
df

         학번   성적
0  20190760   85
1  20190761   95
2  20190762   75
3  20190763   70
4  20190764  100
5  20190765  100
6  20190766   95
7  20190767   85
8  20190768   80
9  20190769   85

In [19]:
df = pd.DataFrame(data, columns = ['성적', '학번'])
df

    성적        학번
0   85  20190760
1   95  20190761
2   75  20190762
3   70  20190763
4  100  20190764
5  100  20190765
6   95  20190766
7   85  20190767
8   80  20190768
9   85  20190769

In [20]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index = index)
df

         학번   성적
a  20190760   85
b  20190761   95
c  20190762   75
d  20190763   70
e  20190764  100
f  20190765  100
g  20190766   95
h  20190767   85
i  20190768   80
j  20190769   85

In [21]:
df.T

,a,b,c,d,e,f,g,h,i,j
학번,20190760,20190761,20190762,20190763,20190764,20190765,20190766,20190767,20190768,20190769
성적,85,95,75,70,100,100,95,85,80,85

In [22]:
df

         학번   성적
a  20190760   85
b  20190761   95
c  20190762   75
d  20190763   70
e  20190764  100
f  20190765  100
g  20190766   95
h  20190767   85
i  20190768   80
j  20190769   85

In [28]:
data = pd.read_csv('C:/Users/user/Downloads/CARD_SUBWAY_MONTH_202108.csv')
data

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선   회기  10269   10305  20210804   NaN
20210801  일산선   마두   2306    2354  20210804   NaN
20210801  일산선  정발산   3334    3307  20210804   NaN
20210801  일산선   주엽   3047    3044  20210804   NaN
20210801  일산선   대화   4520    4151  20210804   NaN
...       ...  ...    ...     ...       ...   ...
20210831  5호선  개화산   4889    4725  20210903   NaN
20210831  과천선  선바위   7498    6443  20210903   NaN
20210831  1호선  서울역  35669   33406  20210903   NaN
20210831  1호선  동묘앞   5809    6035  20210903   NaN
20210831  1호선   시청  19444   19266  20210903   NaN

[18638 rows x 6 columns]

In [36]:
df = pd.read_csv('C:/Users/user/Downloads/CARD_SUBWAY_MONTH_202108.csv', header=0)
df

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선   회기  10269   10305  20210804   NaN
20210801  일산선   마두   2306    2354  20210804   NaN
20210801  일산선  정발산   3334    3307  20210804   NaN
20210801  일산선   주엽   3047    3044  20210804   NaN
20210801  일산선   대화   4520    4151  20210804   NaN
...       ...  ...    ...     ...       ...   ...
20210831  5호선  개화산   4889    4725  20210903   NaN
20210831  과천선  선바위   7498    6443  20210903   NaN
20210831  1호선  서울역  35669   33406  20210903   NaN
20210831  1호선  동묘앞   5809    6035  20210903   NaN
20210831  1호선   시청  19444   19266  20210903   NaN

[18638 rows x 6 columns]

In [41]:
df = pd.read_csv('C:/Users/user/Downloads/CARD_SUBWAY_MONTH_202108.csv', header=1)
df

       20210801  중앙선   회기  10269  10305  20210804  Unnamed: 6
0      20210801  일산선   마두   2306   2354  20210804         NaN
1      20210801  일산선  정발산   3334   3307  20210804         NaN
2      20210801  일산선   주엽   3047   3044  20210804         NaN
3      20210801  일산선   대화   4520   4151  20210804         NaN
4      20210801  장항선   봉명    369    369  20210804         NaN
...         ...  ...  ...    ...    ...       ...         ...
18632  20210831  5호선  개화산   4889   4725  20210903         NaN
18633  20210831  과천선  선바위   7498   6443  20210903         NaN
18634  20210831  1호선  서울역  35669  33406  20210903         NaN
18635  20210831  1호선  동묘앞   5809   6035  20210903         NaN
18636  20210831  1호선   시청  19444  19266  20210903         NaN

[18637 rows x 7 columns]

In [43]:
df = pd.read_csv('C:/Users/user/Downloads/CARD_SUBWAY_MONTH_202108.csv', header=0)
df

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선   회기  10269   10305  20210804   NaN
20210801  일산선   마두   2306    2354  20210804   NaN
20210801  일산선  정발산   3334    3307  20210804   NaN
20210801  일산선   주엽   3047    3044  20210804   NaN
20210801  일산선   대화   4520    4151  20210804   NaN
...       ...  ...    ...     ...       ...   ...
20210831  5호선  개화산   4889    4725  20210903   NaN
20210831  과천선  선바위   7498    6443  20210903   NaN
20210831  1호선  서울역  35669   33406  20210903   NaN
20210831  1호선  동묘앞   5809    6035  20210903   NaN
20210831  1호선   시청  19444   19266  20210903   NaN

[18638 rows x 6 columns]

In [44]:
df.head()

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선   회기  10269   10305  20210804   NaN
20210801  일산선   마두   2306    2354  20210804   NaN
20210801  일산선  정발산   3334    3307  20210804   NaN
20210801  일산선   주엽   3047    3044  20210804   NaN
20210801  일산선   대화   4520    4151  20210804   NaN

In [45]:
df.tail()

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210831  5호선  개화산   4889    4725  20210903   NaN
20210831  과천선  선바위   7498    6443  20210903   NaN
20210831  1호선  서울역  35669   33406  20210903   NaN
20210831  1호선  동묘앞   5809    6035  20210903   NaN
20210831  1호선   시청  19444   19266  20210903   NaN

In [46]:
df.shape

(18638, 6)

In [47]:
df.describe()

                 역명        승차총승객수        하차총승객수  등록일자
count  18638.000000  18638.000000  1.863800e+04   0.0
mean    8233.105430   8204.264138  2.021083e+07   NaN
std     8220.273029   8266.678656  2.615624e+01   NaN
min        1.000000      0.000000  2.021080e+07   NaN
25%     2804.000000   2733.000000  2.021081e+07   NaN
50%     5863.500000   5736.500000  2.021082e+07   NaN
75%    10844.750000  10700.000000  2.021083e+07   NaN
max    75259.000000  73205.000000  2.021090e+07   NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18638 entries, 20210801 to 20210831
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18638 non-null  object
 1   노선명     18638 non-null  object
 2   역명      18638 non-null  int64
 3   승차총승객수  18638 non-null  int64
 4   하차총승객수  18638 non-null  int64
 5   등록일자    0 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1019.3+ KB

In [50]:
test=df.T

In [51]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 사용일자 to 등록일자
Columns: 18638 entries, 20210801 to 20210831
dtypes: object(18638)
memory usage: 873.9+ KB

In [52]:
df.head(8)

         사용일자       노선명     역명  승차총승객수    하차총승객수  등록일자
20210801  중앙선        회기  10269   10305  20210804   NaN
20210801  일산선        마두   2306    2354  20210804   NaN
20210801  일산선       정발산   3334    3307  20210804   NaN
20210801  일산선        주엽   3047    3044  20210804   NaN
20210801  일산선        대화   4520    4151  20210804   NaN
20210801  장항선        봉명    369     369  20210804   NaN
20210801  장항선  쌍용(나사렛대)    801     787  20210804   NaN
20210801  장항선        아산   1950    1505  20210804   NaN

In [53]:
df.tail(7)

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210831  5호선   길동   7289    7519  20210903   NaN
20210831  1호선  동대문   9571    9052  20210903   NaN
20210831  5호선  개화산   4889    4725  20210903   NaN
20210831  과천선  선바위   7498    6443  20210903   NaN
20210831  1호선  서울역  35669   33406  20210903   NaN
20210831  1호선  동묘앞   5809    6035  20210903   NaN
20210831  1호선   시청  19444   19266  20210903   NaN

In [54]:
df.describe()

                 역명        승차총승객수        하차총승객수  등록일자
count  18638.000000  18638.000000  1.863800e+04   0.0
mean    8233.105430   8204.264138  2.021083e+07   NaN
std     8220.273029   8266.678656  2.615624e+01   NaN
min        1.000000      0.000000  2.021080e+07   NaN
25%     2804.000000   2733.000000  2.021081e+07   NaN
50%     5863.500000   5736.500000  2.021082e+07   NaN
75%    10844.750000  10700.000000  2.021083e+07   NaN
max    75259.000000  73205.000000  2.021090e+07   NaN

In [55]:
df = pd.read_csv('C:/Users/user/Downloads/CARD_SUBWAY_MONTH_202108.csv', index_col = False)
df

           사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
0      20210801  중앙선   회기   10269   10305  20210804
1      20210801  일산선   마두    2306    2354  20210804
2      20210801  일산선  정발산    3334    3307  20210804
3      20210801  일산선   주엽    3047    3044  20210804
4      20210801  일산선   대화    4520    4151  20210804
...         ...  ...  ...     ...     ...       ...
18633  20210831  5호선  개화산    4889    4725  20210903
18634  20210831  과천선  선바위    7498    6443  20210903
18635  20210831  1호선  서울역   35669   33406  20210903
18636  20210831  1호선  동묘앞    5809    6035  20210903
18637  20210831  1호선   시청   19444   19266  20210903

[18638 rows x 6 columns]

In [56]:
df.head()

       사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
0  20210801  중앙선   회기   10269   10305  20210804
1  20210801  일산선   마두    2306    2354  20210804
2  20210801  일산선  정발산    3334    3307  20210804
3  20210801  일산선   주엽    3047    3044  20210804
4  20210801  일산선   대화    4520    4151  20210804

In [57]:
df.shape

(18638, 6)

In [58]:
df.describe()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.863800e+04  18638.000000  18638.000000  1.863800e+04
mean   2.021082e+07   8233.105430   8204.264138  2.021083e+07
std    8.946719e+00   8220.273029   8266.678656  2.615624e+01
min    2.021080e+07      1.000000      0.000000  2.021080e+07
25%    2.021081e+07   2804.000000   2733.000000  2.021081e+07
50%    2.021082e+07   5863.500000   5736.500000  2.021082e+07
75%    2.021082e+07  10844.750000  10700.000000  2.021083e+07
max    2.021083e+07  75259.000000  73205.000000  2.021090e+07

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18638 entries, 0 to 18637
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18638 non-null  int64
 1   노선명     18638 non-null  object
 2   역명      18638 non-null  object
 3   승차총승객수  18638 non-null  int64
 4   하차총승객수  18638 non-null  int64
 5   등록일자    18638 non-null  int64
dtypes: int64(4), object(2)
memory usage: 873.8+ KB

In [60]:
df['노선명'].unique()

array(['중앙선', '일산선', '장항선', '우이신설선', '안산선', '수인선', '분당선', '과천선',
       '공항철도 1호선', '경춘선', '경인선', '경의선', '경원선', '경부선', '경강선', '9호선2~3단계',
       '9호선', '8호선', '7호선', '6호선', '5호선', '4호선', '3호선', '2호선', '1호선'],
      dtype=object)

In [61]:
df['노선명'].value_counts()

5호선         1736
7호선         1581
2호선         1550
경부선         1209
6호선         1162
분당선         1065
3호선         1041
경원선          905
경의선          822
4호선          806
9호선          775
중앙선          651
경인선          620
경춘선          589
수인선          558
8호선          527
공항철도 1호선     434
우이신설선        403
9호선2~3단계     403
안산선          403
경강선          341
일산선          313
1호선          310
과천선          248
장항선          186
Name: 노선명, dtype: int64

In [62]:
# gmr...  ;ㅅ;




#         _______________________________
#    ;v; < 난 찌질이야......  인사도 못해..|
#        |______________________________|

#            ___________________
#      @_@ < 다음에 잘하면 되지!! |
#           \___________________|   
    
#           _________________________________________
#      ;v; < 그 생각만 지금 며칠째하고 있는지 알아...?  |
#          |________________________________________|

In [63]:
df.sort_values(by=['승차총승객수'], ascending=False)

           사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
11450  20210820  2호선   강남   75259   73070  20210823
16209  20210827  2호선   강남   74489   73205  20210830
5947   20210810  2호선   강남   74307   72076  20210813
14970  20210825  2호선   강남   73704   71554  20210828
9644   20210817  2호선   강남   73578   70997  20210820
...         ...  ...  ...     ...     ...       ...
12624  20210822  경원선   창동       1       0  20210825
10635  20210818  6호선  연신내       1       0  20210821
10742  20210818  3호선  충무로       1       0  20210821
18436  20210831  경원선   창동       1       0  20210903
13274  20210823  3호선  충무로       1       0  20210826

[18638 rows x 6 columns]

In [65]:
df[0:10]

       사용일자  노선명        역명  승차총승객수  하차총승객수      등록일자
0  20210801  중앙선        회기   10269   10305  20210804
1  20210801  일산선        마두    2306    2354  20210804
2  20210801  일산선       정발산    3334    3307  20210804
3  20210801  일산선        주엽    3047    3044  20210804
4  20210801  일산선        대화    4520    4151  20210804
5  20210801  장항선        봉명     369     369  20210804
6  20210801  장항선  쌍용(나사렛대)     801     787  20210804
7  20210801  장항선        아산    1950    1505  20210804
8  20210801  장항선        배방     554     614  20210804
9  20210801  장항선      온양온천    2468    2310  20210804

In [66]:
df.head(10)

       사용일자  노선명        역명  승차총승객수  하차총승객수      등록일자
0  20210801  중앙선        회기   10269   10305  20210804
1  20210801  일산선        마두    2306    2354  20210804
2  20210801  일산선       정발산    3334    3307  20210804
3  20210801  일산선        주엽    3047    3044  20210804
4  20210801  일산선        대화    4520    4151  20210804
5  20210801  장항선        봉명     369     369  20210804
6  20210801  장항선  쌍용(나사렛대)     801     787  20210804
7  20210801  장항선        아산    1950    1505  20210804
8  20210801  장항선        배방     554     614  20210804
9  20210801  장항선      온양온천    2468    2310  20210804

In [67]:
df.iloc[8]

사용일자      20210801
노선명            장항선
역명              배방
승차총승객수         554
하차총승객수         614
등록일자      20210804
Name: 8, dtype: object

In [68]:
df2 = df.set_index('사용일자')
df2.head(3)

          노선명   역명  승차총승객수  하차총승객수      등록일자
사용일자
20210801  중앙선   회기   10269   10305  20210804
20210801  일산선   마두    2306    2354  20210804
20210801  일산선  정발산    3334    3307  20210804

In [69]:
df['노선명']=='2호선'

0        False
1        False
2        False
3        False
4        False
         ...
18633    False
18634    False
18635    False
18636    False
18637    False
Name: 노선명, Length: 18638, dtype: bool

In [70]:
df[df['노선명']=='2호선']

           사용일자  노선명         역명  승차총승객수  하차총승객수      등록일자
507    20210801  2호선  용두(동대문구청)     843     873  20210804
508    20210801  2호선      신정네거리    3578    3592  20210804
509    20210801  2호선       양천구청    2073    2174  20210804
510    20210801  2호선        도림천     328     341  20210804
511    20210801  2호선        신설동    1710    1912  20210804
...         ...  ...        ...     ...     ...       ...
18111  20210831  2호선        도림천    1319    1458  20210903
18112  20210831  2호선       양천구청    5920    6535  20210903
18113  20210831  2호선      신정네거리    9082    9757  20210903
18114  20210831  2호선  용두(동대문구청)    2072    2111  20210903
18615  20210831  2호선         아현    9617    9514  20210903

[1550 rows x 6 columns]

In [71]:
df[df['승차총승객수']>=50000]

           사용일자  노선명        역명  승차총승객수  하차총승객수      등록일자
1164   20210802  2호선        신림   51573   50148  20210805
1172   20210802  2호선        강남   70147   68166  20210805
1178   20210802  2호선  잠실(송파구청)   51592   51611  20210805
1265   20210803  2호선  잠실(송파구청)   53157   53003  20210806
1271   20210803  2호선        강남   70995   68779  20210806
...         ...  ...       ...     ...     ...       ...
18081  20210831  2호선  잠실(송파구청)   54107   53302  20210903
18085  20210831  2호선        선릉   50953   45109  20210903
18087  20210831  2호선        강남   71127   68437  20210903
18095  20210831  2호선        신림   55435   54928  20210903
18097  20210831  2호선   구로디지털단지   53717   54788  20210903

[98 rows x 6 columns]

In [72]:
df[df['승차총승객수']>50000]['역명'].unique()

array(['신림', '강남', '잠실(송파구청)', '구로디지털단지', '선릉'], dtype=object)

In [73]:
df['승하차총승객수차이'] = df['승차총승객수'] - df['하차총승객수']
df.head()

       사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자  승하차총승객수차이
0  20210801  중앙선   회기   10269   10305  20210804        -36
1  20210801  일산선   마두    2306    2354  20210804        -48
2  20210801  일산선  정발산    3334    3307  20210804         27
3  20210801  일산선   주엽    3047    3044  20210804          3
4  20210801  일산선   대화    4520    4151  20210804        369

In [74]:
df['승하차총승객수차이'].mean()

28.841291984118467

In [75]:
sample_df=df.sample(n=10)
sample_df

           사용일자  노선명       역명  승차총승객수  하차총승객수      등록일자  승하차총승객수차이
11746  20210820  경강선       부발    2176    1655  20210823        521
8959   20210815  2호선       이대    4901    5288  20210818       -387
13620  20210823  경의선       금릉    4199    3973  20210826        226
17396  20210829  분당선       서현   11213   11378  20210901       -165
6572   20210811  일산선       삼송   16438   16198  20210814        240
4228   20210808  장항선       아산    2081    1378  20210811        703
18584  20210831  수인선  남동인더스파크    2208    2515  20210903       -307
4100   20210807  경춘선      굴봉산     209     196  20210810         13
6075   20210811  3호선      무악재    3524    3530  20210814         -6
17241  20210829  경부선       금정   11095   11513  20210901       -418

In [77]:
sample_df=df.sample(n=10)
sample_df

           사용일자  노선명              역명  승차총승객수  하차총승객수      등록일자  승하차총승객수차이
8845   20210815  5호선     올림픽공원(한국체대)    1765    1509  20210818        256
3599   20210806  수인선              송도    1919    1796  20210809        123
1675   20210803  경인선              부개    6718    6353  20210806        365
12008  20210820  중앙선              팔당     871     897  20210823        -26
2341   20210804  경원선              덕정    4157    4070  20210807         87
3200   20210806  경인선              동암   12835   13086  20210809       -251
16946  20210829  2호선              이대    6135    6548  20210901       -413
12107  20210821  분당선              선릉    3897    5787  20210824      -1890
2548   20210805  4호선  동대문역사문화공원(DDP)   12696   11781  20210808        915
2297   20210804  경부선              화서    5746    5613  20210807        133

In [78]:
sample_df['노선명'].replace(['1호선', '2호선', '3호선', '4호선'],
                        ['line1', 'line2', 'line3', 'line4'])

8845       5호선
3599       수인선
1675       경인선
12008      중앙선
2341       경원선
3200       경인선
16946    line2
12107      분당선
2548     line4
2297       경부선
Name: 노선명, dtype: object

In [ ]:
import numpy
import pandas
import matplotlib.pyplot
import seaborn
from sklearn.model_selsection import train_test_split